.ui.borderless.topmenu.menu{
  background-color: white;
  box-shadow: none;
  border: none;
}
.padded{
  margin-left: 10px;
}
.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat fixed;
  background-size: cover;
  height: 500px;
  margin-top: -20px;
}
.padded-down{
  margin-top: 125px;
}
.padded-down-larger{
  margin-top: 200px;
}
.footer-background{
  background-color: #004030;
  color: white;
}
.white{
  color: white;
}
